/*style guide:
    Red - #d81f3f
    Cyan - #39b4bd
    Dark Grey - #17242a
    Black - #131617

    h1 75
    h2 60
    h3 22
    main text 17
*/

body{
    font-family: 'Montserrat', sans-serif;
}

.headline-home{
    font-size: 2em;
    font-weight: 700;
}

.home-hero-bg{
    background-color: #17242a;
}

.hero{
    color: #ffffff;
    text-align: center;
    max-width: 440px;
    height: auto;
    margin: 0 auto;
}

.cyan-cta-btn{
    background-color: #39b4bd;
    border: none;
    color: white;
    padding: 18px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 45px;
}

.red-cta-btn{
    background-color: #d81f3f;
    border: none;
    color: white;
    padding: 18px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 45px;
}

.row-center{
    border: 1px red solid;
    text-align: center;

}

.main-content-container{
    margin: auto;
    width: 650px;
}

.home-stats{
    max-width: 220px;
    margin: 25px 15px;
    line-height: 10px;
    display: inline-block;
    color: #FFFFFF;
}

.border{
    border: 1px solid #FFFFFF; /* change to white after adding bg img*/
    height: 150px; /*this may need to change after icons get added*/
    display: inline-block;
}

.lightbulb-bg{
    background-color: #39b4bd;
}

.lightbulb-block{
    border: 1px solid blue;
    text-align: left;
    width: 55%;
    max-width: 575px;
    padding-left: 62px;
}

.lightbulb-block p{
    padding-left: 45px;
}


.cyan{
    color:#39b4bd;
}

.red{
    color:#d81f3f;
}

hr{
    width:15px;
    border-style: none;
    border-top: 3px solid #39b4bd; 
}

@media (max-width: 700px) {
    .main-content-container{
        width: 100%;
    }
    
    .home-stats{
        width: 100%;
        display: block;
        margin: 60px auto; /* adjust after adding icons */
    }
    .border{
        display: none;
    }
    .lightbulb-block{
        width: 78%;
    }
}