/*style guide:
    Red - #d81f3f
    Cyan - #39b4bd
    Dark Grey - #17242a
    Black - #131617

    h1 75
    h2 60
    h3 22
    main text 17
*/

body{
    font-family: 'Montserrat', sans-serif;
}

.headline-home{
    font-size: 2.5em;
    font-weight: 700;
}

.home-hero-bg{
    background-color: #17242a;
}

.hero{
    color: #ffffff;
    text-align: center;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
}

.cyan-cta-btn{
    background-color: #39b4bd;
    border: none;
    color: white;
    padding: 18px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 45px;
}

.red-cta-btn{
    background-color: #d81f3f;
    border: none;
    color: white;
    padding: 18px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 45px;
}

.row-center{
    border: 1px red solid;
    text-align: center;

}

.main-content-container{
    margin: auto;
    max-width: 1000px;
    border: 1px red solid;
}

.home-stats{
    /* max-width: 220px; this is what it used to be before chaning the content container to max width 1000px*/
    
    margin: 25px 40px;
    line-height: 10px;
    display: inline-block;
    color: #FFFFFF;
}

.benefits-grid{
    border: 1px green solid;
    width: 220px;
    /* height: 225px; */ /* likely not needed after adding icons */
    margin: 25px 15px;
    display: inline-block;
    color: #000000;   
    vertical-align: top;
}

.benefits-grid img{
    width: 72px;
    height: 72px;
}

.benefits-grid p{
    font-size: .60em;
}

.border{
    border: 1px solid #FFFFFF; /* change to white after adding bg img*/
    height: 150px; /*this may need to change after icons get added*/
    display: inline-block;
}

.thick-border{
    border-left: 45px solid #28aeb1;
    min-height: 400px;
}

.lightbulb-bg{
    background-image: url(/Users/darrenharms/Documents/River\ Traffic/images/cyan-texture-bg.jpg);
    width:100%;
    height: auto;
}

.lightbulb-content-block{
    border: 1px solid blue;
    text-align: left;
    width: 55%;
    max-width: 575px;
    padding-left: 62px;
    padding-top: 62px;
}

.lightbulb-content-block p{
    padding-left: 15px;
}

.full-width{
    width:100%;
    margin: auto;
    text-align: center;
}

.cyan{
    color:#39b4bd;
}

.red{
    color:#d81f3f;
}

hr{
    width:15px;
    border-style: none;
    border-top: 3px solid #39b4bd; 
}

@media (max-width: 700px) {
    .main-content-container{
        width: 100%;
    }
    
    .home-stats{
        width: 100%;
        display: block;
        margin: 60px auto; /* adjust after adding icons */
    }
    .border{
        display: none;
    }

    .lightbulb-block{
        width: 78%;
    }
}