/*style guide:
    Red - #d81f3f
    Cyan - #39b4bd
    Dark Grey - #17242a
    Black - #131617

    h1 75
    h2 60
    h3 22
    main text 17
*/

body{
    font-family: 'Montserrat', sans-serif;
}

.h1-home{
    font-size: 2em;
    font-weight: 700;
}

.hero{
    /*color: #ffffff; REMOVE COMENT AFTER ADDING BG IMG*/
    text-align: center;
    max-width: 440px;
    height: auto;
    margin: 0 auto;
}

.cyan-cta-btn{
    background-color: #39b4bd;
    height: 50px;
    border: none;
    color: white;
    padding: 18px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 45px;
}

.row-center{
    border: 1px red solid;
    text-align: center;
}

.home-stats{
    max-width: 240px;
    margin: 0 auto;
    text-align: center;
    border: 1px green solid;
    line-height: 10px;
    display: inline-block;
}

.cyan{
    color:#39b4bd;
}

.red{
    color:#d81f3f;
}

hr{
    width:15px;
    border-style: none;
    border-top: 3px solid #39b4bd;
    
    
}